.excursion {
  &__inner {
    text-align: center;
    padding: 25px 0 7px;
  }

  &__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 3px;
  }

  &__title {
    font-size: 40px;
    text-transform: uppercase;
    max-width: 460px;
    font-weight: 400;
    margin: 0 auto 25px;
    position: relative;
  }

  &__title::before,
  &__title::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80px;
    top: 50%;
    background-color: #d0aa8c;
  }

  &__title::before {
    left: 0;
  }

  &__title::after {
    right: 0;
  }

  &__desc {
    max-width: 735px;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  &__item {
    max-width: 555px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__item-title {
    font-size: 28px;
    padding: 13px 0 20px;
    letter-spacing: -.5px;
    text-transform: uppercase;
    position: relative;
  }

  &__item-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 1px;
    background-color: #d0aa8c;
  }

  &__item-text {
    padding-top: 25px;
    font-size: 12px;
    font-weight: 500;
  }

  &__item-text p{
    margin: 0 0 20px;
  }

  &__item-link {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__item-link a {
    border: 1px solid #2f2c34;
    color: #2f2c34;
    padding: 10px 85px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 14px;
  }

  &__item-link a:hover,
  &__item-link a:focus {
    background-color: #2f2c34;
    color: #ffffff;
  }
}