.header {
  padding-top: 26px;
  text-transform: uppercase;

  &__top-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
    position: relative;
  }

  &__top-inner::before,
  &__top-inner::after {
    content: '';
    position: absolute;
    top: 0;
    width: 550px;
    border-top: 1px solid #2f2c34;
  }

  &__top-inner::before {
    left: -15px;
  }

  &__top-inner::after {
    right: -15px;
  }

  &__top-links,
  &__top-buttons {
    min-width: 396px;
    width: 100%;
    display: flex;
  }

  &__top-links {
    justify-content: flex-start;
  }

  &__top-buttons {
    justify-content: flex-end;
    align-items: center;
  }

  &__top-link {
    margin-right: 75px;
  }

  &__top-link a {
    font-weight: 500;
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #2f2c34;
    transition: all .3s;
  }

  &__top-link a:hover,
  &__top-link a:focus {
    color: #d0aa8c;
  }

  &__top-link span {
    font-size: 10px;
    letter-spacing: .7px;
    color: #d0aa8c;
    position: relative;
    padding-right: 45px;
  }

  &__top-link span::after {
    content: '';
    height: 1px;
    width: 40px;
    top: 50%;
    right: 0;
    background-color: #d0aa8c;
    position: absolute;
  }

  &__logo {
    margin-top: -40px;
  }

  &__top-btn {
    padding: 8px 35px;
    margin-left: 35px;
    border: none;
    font-size: 12px;
    transition: ease-in .3s;
  }

  &__top-btn:first-child {
    border: 1px solid #2f2c34;
    color: #2f2c34;
  }

  &__top-btn:first-child:hover,
  &__top-btn:first-child:focus {
    background-color: #2f2c34;
    color: #ffffff;
  }

  &__top-btn:last-child {
    background-color: #d0aa8c;
    color: #ffffff;
  }

  &__top-btn:last-child:hover,
  &__top-btn:last-child:focus {
    background-color: #a7a6a4;
  }

  &__bottom {
    background: #2f2c34;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,48,55,1) 50%, rgba(68,60,63,1) 100%);
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__nav-list a {
    color: #ffffff;
    font-size: 16px;
  }

  &__nav-list a:hover,
  &__nav-list a:focus {
    color: #d0aa8c;
  }

  &__nav-list li {
    padding: 0 67px;
    position: relative;
  }

  &__nav-list li:first-child {
    padding-left: 0;
  }

  &__nav-list li:last-child {
    padding-right: 0;
  }

  &__nav-list li::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #747176;
    position: absolute;
    left: 0;
  }

  &__nav-menu,
  &__nav-list li:first-child::before {
    display: none;
  }
}